.NotificationMainSec {
  padding: 0rem 0.4rem 1rem 16.1rem;
  width: 100%;
}

.NotificationMainDiv {
  width: 100%;
}

.NotificationTabsMainDiv {
  display: flex;
  column-gap: 0rem;
  justify-content: start;
  align-items: center;
  padding-top: 0.8rem;
}

.EachNotificationTab {
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  justify-content: start;
  column-gap: 0.9rem;
  width: 18rem;
}

.EachNotificationTab:hover {
  background-color: #e1e1e1;
}

.activeNotiTab {
  color: #fc8415;
  border-bottom: 0.14rem #fc8415 solid;
}

.activeNotiTab .OptionalViewNotification {
  display: none;
}

.NotificationTabIcon {
  font-size: 1.2rem;
}

.EachNotificationTab div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.TabTitleAtNoti {
  font-size: 0.8rem;
}

.OptionalViewNotification {
  font-size: 0.7rem;
  color: rgba(76, 76, 76, 0.705);
}

.AllNotificationMainWrapper {
  margin-top: 0.7rem;
  width: 100%;
}

.EachNotificationMainDiv {
  width: 100%;
  border-bottom: 0.06rem #cfcfcf solid;
  padding: 0.4rem 0rem 0.4rem 0rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.NotificationReferenceTitle {
  width: 20%;
  display: flex;
  justify-content: start;
  column-gap: 0.5rem;
  align-items: center;
}

.NotificationReadIcon {
  color: #0483bb;
}

.MarkAsReadIcon {
  cursor: pointer;
}

.NotificationReferenceTitle p {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AlInNotificationExceptReferenceDiv {
  width: 80%;
  display: flex;
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.EachNotificationTitleAndMsg {
  width: 95%;
  color: black;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EachNotificationTitleAndMsg span {
  color: rgb(89, 89, 89);
}

.NotificationDateDiv {
  width: 5%;
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  color: black;
}

.TabHasNoNotificationDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.TabHasNoNotificationDiv p {
  font-size: 1rem;
  color: #fc8415;
  text-align: center;
}

.NoNotificationMainDiv {
  display: flex;
  justify-content: center;
  padding: 4rem 0rem;
  width: 100%;
}

.NoNotificationMainDiv p {
  text-align: center;
  color: #fc8415;
  font-size: 1.2rem;
}

@media screen and (max-width: 1229px) {
  .NotificationMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
  .EachNotificationTab {
    column-gap: 0.5rem;
    width: 13rem;
      padding: 0.4rem 0.8rem;
  }
}

@media screen and (max-width: 1037px) {
  .NotificationDateDiv {
    width: 8%;
  }
}

@media screen and (max-width: 830px) {
  .NotificationReferenceTitle {
    width: 30%;
  }
  .AlInNotificationExceptReferenceDiv {
    width: 70%;
  }
}

@media screen and (max-width: 783px) {
  .NotificationDateDiv {
    width: 12%;
  }
}

@media screen and (max-width: 583px) {
  .NotificationReferenceTitle {
    width: 40%;
  }
  .AlInNotificationExceptReferenceDiv {
    width: 60%;
  }
  .NotificationDateDiv {
    width: 14%;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 514px) {
      .NotificationDateDiv {
    width: 17%;
  }
}

@media screen and (max-width: 469px) {
  .NotificationReferenceTitle {
    width: 80%;
  }
  .AlInNotificationExceptReferenceDiv {
    width: 20%;
  }
  .EachNotificationTitleAndMsg {
    display: none;
  }
  .NotificationDateDiv {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
    .NotificationTabsMainDiv {
        width:100%;
  padding-top: 0.5rem;
}
.EachNotificationTab {
  width:50%;
}
.NotificationTabIcon {
  font-size: 1rem;
}
.TabTitleAtNoti {
  font-size: 0.7rem;
}
}

@media screen and (max-width: 399px) {
  .NotificationMainSec {
    padding: 0rem 0.4rem 0.5rem 3rem;
  }
}


@media screen and (max-width: 299px) {
    .NotificationReferenceTitle p {
  font-size:0.9rem;
}
}
