.DailyObjectivesMainSec {
  width: 100%;
  padding: 0rem 0.4rem 1rem 16.1rem;
}

.DailyObjectivesMainSec1{
  width: 100%;
  padding: 0rem 0.4rem 1rem 16.1rem;
  display: flex;
  justify-content: space-between;
  align-items: top;
  column-gap: 1.3rem;
}

.DailyObjectivesMainDiv1{
    padding-top: 1rem;
    width:100%;
}

.DailyObjectivesMainDiv {
  padding-top: 1rem;
  width:60rem;
}

.TodayMainTitle {
  font-size: 1.3rem;
}

.TodayDate {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #0483bb;
}

.DailyObjectiveStartMainDiv {
  width: 100%;
  margin-top: 1rem;
}

.OnlyObjectivesMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem 0rem;
  border-bottom: 0.1rem black solid;
}

.OnlyObjectivesMainDiv:last-child {
  border-bottom: none;
}

.ObjectiveMarkMainDiv {
  display: flex;
  column-gap: 0.5rem;
  align-items: start;
}

.ObjectiveMarkDiv {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.1rem black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.ObjectiveMarkDivDone {
  background-color: #0483bb;
  font-size:0.8rem;
  color: white;
  border: none;
}

.ObjectiveMarkDivOutOfTime {
  background-color: #fc8415;
  color: white;
  font-size:0.8rem;
  border: none;
}

.ActualObjective {
  font-size: 0.9rem;
}

.OutOfTimeText {
  color: #fc8415;
  font-size: 0.8rem;
}

.ObjectiveBottomMainDiv {
  display: flex;
  justify-content: space-between;
}

.ObjectiveTimeDiv {
  display: flex;
  column-gap: 0.2rem;
}

.ObjectiveTimeDiv p {
  font-size: 0.8rem;
}

#TimeArrowObjectives {
  font-size: 0.8rem;
}

.ObjectiveTimeDiv p:first-child {
  color: #3EB489;
}

.ObjectiveTimeDiv p:last-child {
  color: #fc8415;
}

.CategoryAndDeleteObjectiveDiv {
  display: flex;
  column-gap: 1.5rem;
}

.CategoryAndDeleteObjectiveDiv p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #0483bb;
}

.CategoryAndDeleteObjectiveDiv p span {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: black;
}

.DeleteObjectiveIcon {
  cursor: pointer;
  color: black;
  font-size: 1rem;
}

.AddTaskButton {
  padding: 0.8rem 0rem;
  cursor: pointer;
}

#PlusObjective {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.AddTaskButton:hover {
  color: #0483bb;
}

.YesterdayMainDiv{
  background-color: white;  
  padding-top: 0.2rem;
  width:30rem;
}

.YesterdayMainDiv1{
   display: none;
}

@media screen and (max-width: 1229px) {
  .DailyObjectivesMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
  .DailyObjectivesMainSec1{
    padding: 0rem 0.3rem 0.5rem 3.6rem;
}
  .DailyObjectivesMainDiv {
    padding-top: 0.5rem;
  }
  .TodayMainTitle {
    font-size: 1.25rem;
  }
  .TodayDate {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1029px) {
  .DailyObjectiveStartMainDiv {
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .ObjectiveMarkMainDiv {
    column-gap: 0.3rem;
  }
  .CategoryAndDeleteObjectiveDiv {
    column-gap: 0.5rem;
  }
  .CategoryAndDeleteObjectiveDiv p {
    font-size: 0.6rem;
  }

  .CategoryAndDeleteObjectiveDiv p span {
    font-size: 0.8rem;
  }
  .AddTaskButton {
    font-size: 1rem;
  }
  #PlusObjective {
    margin-right: 0.3rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 399px) {
    .DailyObjectivesMainSec {
      padding: 0rem 0.4rem 0.5rem 3rem;
  }
    .DailyObjectivesMainSec1{
      padding: 0rem 0.4rem 0.5rem 3rem;
}
}

@media screen and (max-width: 314px) {
  .TodayMainTitle {
    font-size: 1.15rem;
  }
  .ActualObjective {
    font-size: 0.8rem;
  }
  .ObjectiveBottomMainDiv {
    flex-direction: column;
    row-gap: 0.3rem;
  }
  .CategoryAndDeleteObjectiveDiv {
    justify-content: space-between;
  }
}
