.EditTeamtaskMainDiv {
  padding: 1.5rem;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0rem 0rem 0.4rem rgba(233, 233, 233, 0.438);
}

.EditTeamtaskTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.EditTeamtaskTopDiv p {
  font-size: 1.3rem;
}

.TeamtaskEditExitIcon {
  font-size: 1.3rem;
  cursor: pointer;
}

.EditTeamtaskActualForm {
  width: 40rem;
  margin-top: 0.5rem;
}

.EditTeamtaskActualForm div {
  width: 100%;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.EditTeamtaskActualForm div select {
  width: 90%;
  border: 0.1rem black solid;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.4rem;
}

.EditTeamtaskActualForm div input {
  width: 90%;
  border: 0.1rem black solid;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.4rem;
}


.DocAndPhotoDiv {
  border: none;
}

.EditTeamtaskActualForm div label {
  font-size: 0.8rem;
}

.TeamtaskEditBtnDiv {
  width: 100%;
  padding-top: 0.5rem;
}

.TeamtaskEditBtnDiv button {
  width: 90%;
  border-radius: 0.3rem;
  border: none;
}

.TeamtaskEditBtn {
  background-color: #fc8415;
  color: black;
  cursor: pointer;
  padding: 0.4rem 0rem;
}

.TeamtaskDisabledBtn {
  background-color: #eeecec;
  color: rgb(206, 206, 206);
  padding: 0.4rem 0rem;
}

.TeamtaskEditLoader{
      background-color: #fc8415;
       padding: 0.23rem 0rem;
}

@keyframes TeamtaskSpin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.TeamtaskEditLoader img{
  width: 1.2rem;
  height: 1.1rem;
    animation: TeamtaskSpin 1s ease-in infinite;
}

@media screen and (max-width: 702px) {
  .EditTeamtaskMainDiv {
    padding: 1rem 0.7rem 1rem 0.7rem;
    width: 97vw;
  }
  .EditTeamtaskTopDiv {
    width: 100%;
  }

  .EditTeamtaskActualForm {
    width: 100%;
  }
  .EditTeamtaskActualForm div select {
    width: 100%;
  }

  .EditTeamtaskActualForm div input {
    width: 100%;
  }
  .TeamtaskEditBtnDiv button {
    width: 100%;
  }
}
