.AllPerCategoryMainSec{
    padding:0rem 0.4rem 1rem 16.3rem;
    width:100%;
}

.AllPerCategoryMainDiv{
    padding-top:1.5rem;
}

.AllPerCatMainTitle{
    font-size:1.3rem;
}

.AllPerCatMainTitle span{
    font-size:1rem;
    color:#0483bb;
}

.TodayAndGoalMainDivWrapper{
    margin-top:0.6rem;
}

.TodayAndGoalTitle{
    font-size:1.2rem;
}

.OnlyGoalForMargin{
    margin-top:1rem;
}

.EachTodayAndGoalWrapperDiv{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.4rem;
    column-gap:1%;
}

.EachTodayAllPerCatDiv{
    width:24.25%;
    background:white;
    padding:0.4rem;
    margin-top:0.6rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 0.5rem rgba(192, 192, 192, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NotStartedP{
    background-color: #0483bb;
    padding:0.25rem 0.6rem;
    color:white;
    width:fit-content;
    font-size: 0.8rem;
}

.InProgressP{
    background-color: #FC8415;
    padding:0.25rem 0.6rem;
    color:black;
    width:fit-content;
    font-size: 0.8rem;
}

.DoneObjectiveAtCatP{
    font-size: 0.9rem;
    text-transform: uppercase;
    color:#0483bb;
}

.OutofTimeP{
    font-size: 0.9rem;
    text-transform: uppercase;
    color:#FC8415;
}

.EachGoalAtAllCatPrority{
    background-color: #FC8415;
    color:black;
    padding:0.3rem 0.8rem;
    font-size:0.8rem;
}

.DurationEachGoalPerCat{
    font-size:0.9rem;
    color:#FC8415;
}

.DurationEachGoalPerCat span{
    color:black;
    font-size: 0.8rem;
}

.ObjectiveTextAtCategory{
    margin-top:0.2rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    width:100%;
    font-size:0.9rem;
}

.StartAndStopTimeAsCategoryDiv{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:0.3rem;
}

.StartAndStopTimeAsCategoryDiv p{
    font-size: 0.8rem;
    text-transform: uppercase;
}

.StartAndStopTimeAsCategoryDiv p span{
    font-size:0.8rem;
    color:#0483bb;
}

.EachGoalAllPerCatDiv{
    width:32.65%;
    background-color: white;
    padding:0.4rem;
    margin-top:0.6rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 0.5rem rgba(192, 192, 192, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EachGoalAllPerCatTopDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PausedAndOutOfTimeStatusColor{
    color:#FC8415;
    font-size:0.9rem;
    text-transform: uppercase;
}

.CompletedStatusGoalColor{
    color:#0483bb;
    font-size:0.9rem;
    text-transform: uppercase;
}

.InProgressGoalColor{
    color:#8CA52B;
    font-size:0.9rem;
    text-transform: uppercase;
}

.NotStartedGoalColor{
    color:#FC8415;
    font-size:0.9rem;
    text-transform: uppercase;
}

.EachGoalDescAtAllPerCat{
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-overflow: ellipsis;
    font-size:0.9rem;
}

.EachGoalNameAtAllPerCat{
    font-size:1.1rem;
    margin-top:0.2rem;
}

.StartAndDueDateOfGoalsPerCatDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0.3rem;
}

.StartAndDueDateOfGoalsPerCatDiv div{
    display:flex;
    flex-direction:column;
}

.StartAndDueDateOfGoalsPerCatDiv p:first-child{
    font-size: 0.8rem;
}

.StartAndDueDateOfGoalsPerCatDiv p:last-child{
    font-size:0.8rem;
    color:#0483bb;
}


@media screen and (max-width: 1229px) {
  .AllPerCategoryMainSec {
    padding: 0rem 0.3rem 0.5rem 4rem;
  }
    .AllPerCategoryMainDiv {
    padding-top: 0.8rem;
  }
  .AllPerCatMainTitle {
    font-size: 1.25rem;
  }
  .AllPerCatMainTitle span{
    font-size:0.9rem;
}
.TodayAndGoalMainDivWrapper{
    margin-top:0.4rem;
}
.TodayAndGoalTitle{
    font-size:1.1rem;
}

.OnlyGoalForMargin{
    margin-top:0.8rem;
}


}

@media screen and (max-width: 1044px) {
    .EachTodayAndGoalWrapperDiv{
    row-gap: 0rem;
}
.EachTodayAllPerCatDiv{
    width:49.39%;
}
.EachGoalAllPerCatDiv{
    width:49.39%;
}
}

@media screen and (max-width: 713px) {
    .EachGoalAllPerCatDiv{
    width:100%;
}
}

@media screen and (max-width: 576px) {
      .AllPerCategoryMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
    .EachTodayAllPerCatDiv{
    width:100%;
}
}

@media screen and (max-width: 308px) {
.EachGoalAtAllCatPrority{
    padding:0.3rem 0.5rem;
    font-size:0.7rem;
}
}

@media screen and (max-width: 286px) {
.StartAndStopTimeAsCategoryDiv p{
    font-size: 0.7rem;
}

.StartAndStopTimeAsCategoryDiv p span{
    font-size:0.7rem;
}
}
