.AuthFormMainSec {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}

.AuthFormMainDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.AuthBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AuthActualFormDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.AuthFormDiv {
  background: #eeecec;
  padding: 1.5rem 3rem 1.5rem 2rem;
  margin:0.7rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.AuthFormLogoAndTitle {
  display: flex;
  text-decoration: none;
  column-gap: 0.4rem;
  align-items: center;
}

.AuthFormLogoAndTitle img {
  width: 4rem;
}

.AuthFormLogoAndTitle p {
  font-size: 1rem;
  color: black;
}

.WhichTypeOfAuth {
  font-size: 1.4rem;
  margin-top: 0.7rem;
}

.SwitchToOtherFormAuth {
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

.SwitchToOtherFormAuth a {
  color: #fc8415;
  font-size: 0.8rem;
}

.InsideInputAtAuth {
  margin-top: 0.7rem;
}

.EachInputAuthMainDiv {
  margin-top: 0.5rem;
}

.EachInputAuthMainDiv {
  width: 18rem;
}

.EachInputAuthPasswordContainer {
  position: relative;
  width: 100%;
}

.EachInputAuthMainDiv input {
  width: 100%;
  padding: 0.4rem 0.3rem;
  border: 0.1rem black solid;
  background-color: transparent;
  outline: none;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.EachInputAuthMainDiv label {
  font-size: 0.7rem;
}

.InsideShowPasswordIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.3rem;
  cursor: pointer;
  user-select: none;
  align-content: center;
}

.ShowHideIcon {
  font-size: 0.8rem;
  background-color: #eeecec;
  padding: 0.2rem 0rem 0.2rem 0.2rem;
  cursor: pointer;
}

.SubmitAuthFormMainDiv {
  margin-top: 0.7rem;
}

.SubmitAuthFormMainDiv button {
  background: #0483bb;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}

.SubmitAuthFormBtn {
  padding: 0.4rem 0rem;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.SubmitAuthLoaderMode {
  padding: 0.15rem 0rem;
}
@keyframes AuthSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.LoaderImage {
  width: 1.4rem;
  height: 1.25rem;
  animation: AuthSpin 1s ease-in infinite;
}

.AuthFormDiv pre {
  margin-top: 0.7rem;
  color: red;
  font-size: 0.9rem;
}



@media screen and (max-width:395px){
.AuthFormDiv {
  padding: 1.5rem 1rem 1.5rem 1rem;
}
}

@media screen and (max-width:335px){
.AuthFormDiv {
  padding: 1rem 0.3rem 1rem 0.3rem;
}
}