.AuthFormMainSec {
  width: 100%;
  height: 100dvh;
}

.AuthFormMainDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.AuthBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AuthActualFormDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.AuthFormDiv {
  background: #eeecec;
  padding: 1.5rem 3rem 1.5rem 2rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.AuthFormLogoAndTitle{
    display:flex;
    text-decoration: none;
    column-gap:0.4rem;
    align-items: center;
}

.AuthFormLogoAndTitle img{
    width:4rem;
}

.AuthFormLogoAndTitle p{
    font-size:1rem;
    color:black;
}

.WhichTypeOfAuth{
    font-size:1.4rem;
    margin-top:0.7rem;
}

.SwitchToOtherFormAuth{
    margin-top:0.7rem;
    font-size:0.9rem;
}

.SwitchToOtherFormAuth a{
    color:#FC8415;
}

.InsideInputAtAuth{
    margin-top:0.7rem;
}

.InsideInputAtAuth div{
    margin-top:0.5rem;
}

.FormPasswordsDiv{
    /* background-color: red;
    display:flex;
    flex-direction: column;
    row-gap:-1rem; */
}

.InsideInputAtAuth div label{
    font-size:0.7rem;
    padding-bottom:1rem;
}

.InsideInputAtAuth .FormPasswordsDiv label{
    font-size:0.7rem;
    padding-bottom:0rem;
}

.InsideInputAtAuth div input{
    width:20rem;
    background:transparent;
    border: 0.1rem black solid;
    border-radius:0.3rem;
    padding:0.5rem 0.4rem;
}


.passwordsInputDiv{
    position:relative;
    width:20rem;
}

.passwordsInputDiv input{
    width:100%;
    background:transparent;
    border: 0.1rem black solid;
    border-radius:0.3rem;
    padding:0.5rem 0.4rem;
}

.passwordsInputDiv .InsideShowPasswordIcon{
    position:absolute;
    right:0.3rem;
    bottom:0;
    top:0;
    align-content: center;
    cursor:pointer;
    user-select: none;
}

.ShowHideIcon{
    font-size:0.9rem;
}

.InsideInputAtAuth div .SubmitAuthForm{
    background:#0483bb;
    margin-top:0.5rem;
    color:white;
    width:100%;
    border:none;
    border-radius:0.3rem;
    padding:0.6rem 0rem 0.6rem 0rem;
    cursor:pointer;
} 

.SubmitAuthLoaderMode{
    background:#0483bb;
    margin-top:0.5rem;
    color:white;
    width:100%;
    border:none;
    border-radius:0.3rem;
    padding:0.2rem 0rem 0.2rem 0rem;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.LoaderImage{
    width:1.5rem;
    animation: rotate 1s ease-in infinite;
}



.AuthFormDiv pre{
    margin-top:0.7rem;
    color:red;
    font-size:0.9rem;
}