.LineGraphMainSec{
    width:100%;
    background:white;
    height: auto;
    padding:1rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 0.4rem rgba(233, 233, 233, 0.438);
    margin-bottom: 0.9rem;
}

.LineGraphOnly{
    width:100%;
    position:relative;
    height: 30rem;
    display:flex;
    align-items:center;
    justify-content: center;
}