.AssignedTaskMainSec {
  padding: 0rem 0.4rem 1rem 16.1rem;
  width: 100%;
}

.AssigneTaskActualMainDiv {
  padding-top: 1rem;
}

.YourAssignedTaskTitle {
  font-size: 1.3rem;
}

.AssignedTaskMainDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 1.25%;
    row-gap:0.6rem;
  padding-top: 0.7rem;
}

.EachAssignedTaskDiv {
  width: 32.5%;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0rem 0rem 0.4rem rgba(233, 233, 233, 0.438);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TopEachAssignedDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AssignedStatusNotStarted {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fc8415;
}

.AssignedStatusInProgress {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #3eb489;
}

.AssignedStatusCompleted {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #0483bb;
}

.AssignedStatusOutOfTime {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #e53935;
}

.DueAssignedDate,
.StartAssignedDate {
  display: flex;
  flex-direction: column;
}

.DueAssignedDate p,
.StartAssignedDate p {
  font-size: 0.8rem;
}

.DueAssignedDate span {
  color: #fc8415;
  font-size: 0.7rem;
}

.StartAssignedDate span {
  color: #0483bb;
  font-size: 0.7rem;
}

.TeamtaskTitleOnly {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AssignTitleAndValue {
  font-size: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.AssignTitleAndValue span {
  text-transform: none;
}

.BottomDivForEachAssign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.BottomDivForEachAssignDelete {
  display: none;
}

.AssignedInProgressAndNotStartedBtn {
  border: 0.1rem #0483bb solid;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.3rem;
  color: #0483bb;
}

.NoAssignedTaskMainDiv p {
  padding: 3rem 0rem;
  color: #fc8415;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 1229px) {
  .AssignedTaskMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
  .AssigneTaskActualMainDiv {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 1044px) {
  .EachAssignedTaskDiv {
    width: 48.5%;
  }
}

@media screen and (max-width: 668px) {
  .EachAssignedTaskDiv {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .AssignedTaskMainDiv {
    padding-top: 0.8rem;
    row-gap: 0.6rem;
  }
  .EachAssignedTaskDiv {
  padding: 0.4rem;
}

  .NoAssignedTaskMainDiv p {
    padding: 2rem 0rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 399px) {
  .AssignedTaskMainSec {
    padding: 0rem 0.3rem 0.5rem 3rem;
  }
  .AssignedInProgressAndNotStartedBtn {
  padding: 0.15rem 0.7rem;
  font-size: 0.7rem;
}

}

@media screen and (max-width: 397px) {
  .AssignedStatusNotStarted {
    font-size: 0.7rem;
  }

  .AssignedStatusInProgress {
    font-size: 0.7rem;
  }

  .AssignedStatusCompleted {
    font-size: 0.7rem;
  }

  .AssignedStatusOutOfTime {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 314px) {
  .YourAssignedTaskTitle {
    font-size: 1.15rem;
  }
}
