.TeamSubmissionsMainSec{
    padding:0rem 0.4rem 2rem 16.3rem;
    width:100%;
}

.TeamSubmissionsMainDiv{
    padding-top:1.5rem;
    width:50rem;
}

.TeamSubmissionMainTitle{
    font-size:1.3rem;
}

.TeamSubmissionsMainDivWrapper{
    margin:0.8rem 0rem 0.9rem 0rem;
}

.EachTeamSubmissionsDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-decoration: none;
    padding:0.5rem 0.8rem;
    border-radius: 0.3rem;
}

.EachTeamSubmissionsDiv:hover{
    background: white;
    box-shadow: 0rem 0rem 0.4rem rgba(197, 197, 197, 0.397);
}

.TeamSubmitType{
    color:black;
}

.TeamSubmittedBy{
    font-size:0.8rem;
    color:#0483bb;
    text-transform: uppercase;
}

.TeamSubmittedBy span{
    color:black;
    text-transform: none;
    font-size:0.9rem;
}

.NoSubmissionsMadeDiv{
    padding:1rem 0rem 1rem 0rem;
}

.NoSubmissionsMadeDiv p{
    text-align: center;
    color:#FC8415;
    font-size:1.2rem;
}

@media screen and (max-width: 1229px) {
  .TeamSubmissionsMainSec {
    padding: 0rem 0.3rem 0rem 4rem;
  }
  .TeamSubmissionsMainDiv{
    padding-top:0.8rem;
    width:100%;
}
  .TeamSubmissionMainTitle {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .TeamSubmissionsMainSec {
    padding: 0rem 0.3rem 0rem 3.6rem;
  }
  .NoSubmissionsMadeDiv p{
    font-size:1rem;
}
}

@media screen and (max-width: 314px) {
  .TeamSubmissionMainTitle {
    font-size: 1.15rem;
  }
}