.DailyReportMainSec {
  width: 100%;
  padding: 1.5rem 0.5rem 1.3rem 0.5rem;
}

.DailyReportMainTitle {
  font-size: 1.3rem;
  color: black;
}

.ReviewsDate {
  font-size: 0.8rem;
  color: #0483bb;
}

.DailyDoghnutWrapper {
  flex: 1;
  margin-top: 0.8rem;
  min-height: 14rem;
  max-height: 14rem;
}

.DailyDoughnutText {
  font-size: 0.9rem;
  color: black;
}

.ReviewsPercentageMainDiv {
  display: flex;
  align-items: center;
  width:fit-content;
  justify-content: start;
  column-gap: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.6rem;
}

.ReviewsPercentageBlueMainDiv{
     box-shadow: 0 0 0.5rem #0484bb50;
}

.ReviewsPercentageOrgMainDiv{
     box-shadow: 0 0 0.5rem #fc851559;
}

.PerformancePercentage{
    font-size:1.6rem;
}

.BlueColorPerfomance {
  color:#0483bb;
  font-size:0.8rem;
}

.OrangeColorPerformance{
    color:#fc8415;
    font-size:0.8rem;
}

@media screen and (max-width: 1229px) {
  .DailyReportMainTitle {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 982px) {
  .DailyReportMainSec {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .DailyDoughnutText {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 330px) {
  .DailyReportMainSec {
    padding: 1rem 0rem 1rem 0rem;
  }
}

@media screen and (max-width: 314px) {
  .DailyReportMainTitle {
    font-size: 1.15rem;
  }
}
