
.TeamDetailsMainSec{
    padding:0rem 0.4rem 2rem 16.3rem;
    width:100%;
}
.TopOfTeamDetailsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1.5rem;
}

.TopOfTeamDetailsDiv p{
    font-size:1.3rem;
}

.TopOfTeamDetailsDiv button{
    background:#0483bb;
    color:white;
    border:none;
    padding:0.4rem 1rem;
    border-radius:0.3rem;
    cursor:pointer;
}

.NoTeamTaskJustMembersDiv{
    margin: 1rem 0rem 0.5rem 0.5rem;
}

.EachMemberDivWrapperNoTtask{
    margin-top:0.5rem;
}

.NoTeamTaskMemberTitle{
    font-size:1.15rem;
    margin-bottom:0.5rem;
}

.EachMemberNameNoTtask{
    font-size:1rem;
}

.EachMemberNameNoTtask span{
    font-size:0.8rem;
    color:#0483bb;
}

.NoTeamTaskMessageDiv{
    display: flex;
    justify-content:center;
    padding:2rem 0rem;
}

.NoTeamTaskMessageDiv p{
    color:#FC8415;
    font-size:1.2rem;
}


.AllTeamtaskWithDetailsDivWrapper{
    width:100%;
    display:flex;
    flex-direction:column;
    row-gap:1.5rem;
    margin-top:1rem;
}

.EachTeamtaskWithDetailsDiv{
    background:white;
    border-radius: 0.3rem;
    padding:1rem;
    width:50rem;
    box-shadow: 0rem 0rem 0.4rem rgba(94, 94, 94, 0.308);
}

.EachteamTaskNameDueDateDiv{
    display:flex;
    justify-content:space-between;
    align-items: start;
}

.EachteamTaskTitle{
    font-size:1.3rem;
}

.EachteamTaskTimeAndEachSubmenuDiv{
    display:flex;
    column-gap:0.8rem;
}

.EachteamTaskOutOfTimeMsg{
    text-transform: uppercase;
    color:#FC8415;
    font-size:0.9rem;
}

.EachteamtaskDueDate{
    font-size:0.9rem;
}

.EachteamtaskDueDate span{
    color:#FC8415;
}

.EachteamTaskSubMenuDivWrapper{
    cursor:pointer;
    position:relative;
}

.EachteamTaskSubMenuDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0rem 0rem 0.4rem rgba(104, 104, 104, 0.445);
    padding:0.5rem;
    position:absolute;
    top:0;
    border-radius: 0.3rem;
    left:0rem;
    width:10rem;
}

.EachteamTaskSubMenuDiv a{
    text-decoration:none;
    color:black;
    padding:0.3rem 0.2rem;
    font-size:0.9rem;
}

.EachteamTaskSubMenuDiv p{
    color:black;
    padding:0.3rem 0.2rem;
    font-size:0.9rem;
}

.EachteamTaskSubMenuDiv p:hover{
    background-color: #eeecec;
}

.EachteamTaskSubMenuDiv a:hover{
    background-color: #eeecec;
}

.EachteamTaskSubmenuIcons{
    margin-right:0.3rem;
    font-size:0.9rem;
    color:black;
}

.EachteamTaskDesc{
    font-size:0.9rem;
    margin-top:0.2rem;
}

.EachTeamtaskResourceDiv{
    margin:0.4rem 0rem 0.3rem 0rem;
}

.EachTeamtaskResourceDiv a{
    text-decoration: none;
    text-decoration: underline;
    color:#FC8415;
}

.VisitLinkIcon{
    font-size:0.9rem;
    margin-left:0.4rem;
}

.EachTeamtaskImgResourceDiv{
    margin:0.4rem 0rem 0.3rem 0rem;
    display: flex;
    align-items: center;
    column-gap:0.4rem;
}

.EachTeamtaskImgResourceDiv img{
    width:5rem;
    height: 5rem;
    object-fit: cover;
    border-radius:0.2rem;
    cursor:pointer;
}

.EachTeamtaskImgResourceDiv div{
    font-size: 0.9rem;
}

.InputDivForAssigningTask{
    margin-top:0.8rem;
}

.InputDivForAssigningTaskTitleMembers{
    color:#0483bb;
    font-size:0.8rem;
    text-transform: uppercase;
}

.AllAssignedTeamtaskTeamDetailsWrapper{
    margin:0.4rem 0rem 0.2rem 0.6rem;
}

.AssignTeamtaskInputMainDiv{
    margin:0.1rem 0rem 0.5rem 0.6rem;
    display: flex;
}

.AssignTeamtaskInputMainDiv input{
    width:100%;
    border: none;
    border-bottom:0.1rem black solid;
    padding:0.2rem 0.2rem;
    outline: none;
}

.AssignTeamtaskInputMainDiv button{
    background:#0483bb;
    border-radius: 0.3rem;
    border:none;
    cursor:pointer;
    color:white;
    padding:0.2rem 1rem;
}