.TeamDetailsMainSec {
  padding: 0rem 0.4rem 1rem 16.1rem;
  width: 100%;
}

.TeamDetailsMainDiv{
  width:100%;
  padding-top:1rem;
}

.TeamDetailTopDiv{
  width:100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TeamInfoMainDiv{
  background-color: white;
  padding:1rem;
  border-radius:0.5rem;
  width:33%;
  height: 9rem;
}

.TeamName{
  font-size:1.3rem;
}

.TeamInfoMainDiv div p{
  font-size:1.1rem;
  
}

.TeamInfoMainDiv div p span{
  font-size:1rem;
  margin-left:0.2rem;
}

.TeamMembersMainDiv{
  background-color: white;
  padding:1rem;
  border-radius: 0.5rem;
  width:33%;
  height: 9rem;
  overflow-y: auto;
}

.TeamMembersMainTitle span{
  background-color: #0483bb;
  color:white;
  padding:0.1rem 0.4rem;
  border-radius: 0.5rem;
  font-size:0.7rem;
  margin-left:0.3rem;
}

.TeamMembersInsideDiv{
  display:flex;
  flex-direction:column;
  row-gap:0.2rem;
  padding-top:0.4rem;
}

.EachMemberDiv{
  display:flex;
  column-gap:0.4rem;
  align-items:center;
}

.TeamMembersProfileDiv{
  background-color: #fc8415;
  color:black;
  padding:0.24rem;
  border-radius:1rem;
  font-size:0.7rem;
}

.TeamRecentActivitiesMainDiv{
  width:33%;
  background-color: white;
    padding:1rem;
  border-radius: 0.5rem;
  height: 10rem;
}