.UpcomingMainSec{
    width: 100%;
    background-color: #eeecec;
    padding: 0rem 0.4rem 1rem 16.1rem;
}

.UpcomingMainDiv{
    padding-top:1rem;
}

.UpcomingMainTitle{
    font-size:1.3rem;
}

.calendarHeader {
    display: flex;
    column-gap:0.3rem;
    align-items: center;
    margin-top:0.5rem;
}

.calendarHeader p {
    font-size:1rem;
}

.nextMonthbutton{
    color: #0483bb;
    cursor:pointer;
    padding:0.3rem ;
    font-size: 0.9rem;
}


.calendarContainer {
    width: 100%;
    height: auto;
  box-shadow: 0rem 0rem 0.4rem rgba(233, 233, 233, 0.438);
    padding: 0.5rem;
    background-color: white;
    margin-top:0.4rem;
    text-align: center;
    border-radius: 0.3rem;
}

.calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: start;
}

.calendarDayName{
    font-size:1rem;
}

.CalendarGridMainDiv{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0rem;
}

.calenderDayEmpty{
    border: 0.1rem #eeecec solid;
    padding: 0rem;
    min-height: 10rem;
    cursor: pointer;
    border-radius: 0.3rem;
    display:flex;
    flex-direction:column;
    align-items: start;
    row-gap:0.1rem;;
}



.calendarDays .empty {
    background: none;
    border: none;
    cursor: default;
}

.CalenderDayMainDiv{
  min-height: 10rem;
  border:0.1rem #eeecec solid;
  cursor:pointer;
}


.OnlyDateDivWithoutDeleteUpcoming{
      display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: #eeecec;
      padding:0.15rem;
}

.OnlyDateDivAndDeleteUpcoming{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: #FC8415;
    padding:0.15rem;
}

.OnlyDatesWithEvent{
  font-size:0.8rem;
}

#DeleteUpcomingIcon{
    color:black;
    cursor:pointer;
    font-size:0.8rem;
}

.eventMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.eventMainDiv div{
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 0.1rem;
}

#HashtagIconAtUpcomings{
    font-size:0.5rem;
    margin-top:0.26rem;
    color:rgba(0, 0, 0, 0.671);
}

.eventMainDiv div p{
    text-align: start;
    color:rgba(0, 0, 0, 0.671);
    font-size:0.8rem;
}

@media screen and (max-width: 1229px) {
  .UpcomingMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
.UpcomingMainDiv{
    padding-top:0.5rem;
}

}


@media screen and (max-width: 1071px) {
  .UpcomingMainSec{
    width:max-content;
  }
.calendarContainer {
    width: 70rem;
    overflow: visible;
}
}

@media screen and (max-width: 576px) {
  .UpcomingMainTitle{
    font-size:1.2rem;
}
.calendarHeader p {
    font-size:0.9rem;
}

.nextMonthbutton{
    font-size: 0.8rem;
}

}

@media screen and (max-width: 399px) {
    .UpcomingMainSec {
      padding: 0rem 0.4rem 0.5rem 3rem;
  }
}