.ProfileEditMainSec{
    width:100%;
    min-height: 100dvh;
    display:flex;
    justify-content:center;
    align-items: center;
}

.ProfileEditMainDiv{
    background-color: white;
    padding:1rem;
    border-radius:0.3rem;
}

.ProfileEditTopMainDiv{
    display:flex;
    justify-content: space-between;
    align-items: start;
}

.ProfileEditTopMainDiv p{
    font-size:1.3rem;
}