.HowItWorksSec{
    width:100%;
    position:relative;
}

.HowItWorksMainDiv{
    display: flex;
    width:80%;
    margin:0rem auto 0rem;
    justify-content:space-between;
    align-items:center;
}
