.TeamtaskDetailsMainSec {
  padding: 0rem 0.4rem 1rem 16.1rem;
  width: 100%;
}

.TeamtaskDetailsMainDiv {
  width: 100%;
  padding-top: 0.8rem;
}

.TeamtaskDetailsTopMainDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 0.6rem 0.4rem 0.6rem 0.4rem;
  background-color: white;
  border-radius: 0.3rem;
}

.TeamtaskDetailsTitleAndDescDiv {
  width: 100%;
}

.TeamtaskDetailsTitleAndDescDiv p:first-child {
  font-size: 1.3rem;
}

.TeamtaskDetailsTitleAndDescDiv p:last-child {
  font-size: 0.8rem;
  max-width: 70%;
}

.TeamtaskDetailsTopButtonsAndDueDateDiv {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: fit-content;
  row-gap: 0.2rem;
}

.TeamtaskDetailsTopButtonsDiv {
  display: flex;
  width: fit-content;
  justify-content: end;
  align-items: center;
  column-gap: 0.3rem;
}

.TeamtaskDetailsTopButtonsDiv div {
  border: none;
  background-color: #eeecec;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
}

.TeamtaskDetailsTopButtonsDiv div p {
  color: black;
  font-size: 0.7rem;
}

.TeamtaskDetailsTopButtonsDiv div span {
  font-size: 0.7rem;
}

.TeamtaskDetailsDueDateOnlyMainDiv {
  width: fit-content;
  white-space: nowrap;
}

.TeamtaskDetailsOutOfTimeOverall {
  color: #fc8415;
  font-size: 0.9rem;
}

.TeamtaskDetailsDueDateOnly {
  font-size: 0.7rem;
}

.TeamtaskDetailsDueDateOnly span {
  color: #fc8415;
}

.TeamtaskDetailsAssignedSubmissionsMainDiv {
  display: flex;
  column-gap: 1%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.9rem;
}

.TeamtaskDetailsAssignedMainDiv {
  width: 32.5%;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.TeamtaskDetailsAssignedTitleAndLabelDiv {
  padding-bottom: 0.7rem;
}

.TeamtaskDetailsAssignedTitle{
  display:flex;
  justify-content: start;
  column-gap: 0.2rem;
}

.TeamtaskDetailsAssignedTitle p {
  font-size: 0.9rem;
}

.TeamtaskDetailsAssignedTitle div{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  background-color: #fc8415;
  color: white;
  padding: 0.03rem 0.5rem;
  border-radius: 0.5rem;
}

.TeamtaskDetailsAssignedLabelDiv{
  display:flex;
  justify-content: start;
  column-gap:0.4rem;
  align-items:center;
  margin-top: 0.4rem;
}

.TeamtaskDetailsAssignedLabelDiv p{
  font-size:0.6rem;
}

.TeamtaskDetailsAssignedLabelDiv p span{
  margin-right:0.1rem;
}

.TeamtaskDetailsAssignNotStrtLabel{
  color:#bebebe;
}

.TeamtaskDetailsAssignInProgLabel,.TeamtaskDetailsAssignCompletedLabel{
  color:#0483bb;
}

.TeamtaskDetailsAssignOutofTimeLabel{
  color:#fc8415;
}

.TeamtaskDetailsAssignedInsideDiv {
  max-height: 18rem;
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TeamtaskDetailsAssignedInsideDiv::-webkit-scrollbar {
  display: none;
}

.TeamtaskDetailsAssignedHeaderDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
}

.TeamtaskDetailsAssignedHeaderDiv:hover{
  background-color: #eeecec;
  border-radius: 0.3rem;
}

.TeamtaskDetAssignedProfile {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 0.7rem;
}

.TeamtaskDetAssignProfPic {
  background-color: #eeecec;
  color: white;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
}

.TeamtaskDetailsAssignPlusIcon{
  font-size:0.8rem;
  color:black;
}

.TeamtaskDetailsAssignEachAssignedMainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: top;
  padding: 0.2rem 0.2rem 0rem 1rem;
}

.TeamtaskDetailsAssignedNotStrt {
  font-size: 0.85rem;
  color: #bebebe;
}

.TeamtaskDetailsAssignInProg,
.TeamtaskDetailsAssigneCompleted {
  font-size: 0.85rem;
  color: #0483bb;
}

.TeamtaskDetailsAssignOutOfTimeIcon{
  color:#fc8415;
  font-size:0.85rem;
}

.TeamtaskDetailsAssignEachAssignedMainDiv div {
  display: flex;
  align-items: top;
  justify-content: start;
  column-gap: 0.25rem;
}

.TeamtaskDetailsAssignEachAssignedMainDiv div p {
  font-size: 0.8rem;
  color: #3d3d3d;
}

.TeamtaskDetailsAssignDelEachAssign {
  color: #fc8415;
  font-size: 0.7rem;
  padding: 0.1rem;
  cursor: pointer;
}

.TeamtaskDetailsResourceMainDiv {
  width: 32.5%;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.TeamtaskDetailsResourcesTitle {
  width: 100%;
}

.TeamtaskDetailsResourcesTitle p {
  font-size: 0.9rem;
  text-align: start;
}

.TeamtaskDetailsResourceInsideDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoResourceMainText {
  font-size: 0.9rem;
  color: #fc8415;
  text-align: center;
}

.TeamtaskDetailsSubmissionsMainDiv {
  width: 32.5%;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.TeamtaskDetailsSubmissionTitle {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 0.2rem;
}

.TeamtaskDetailsSubmissionTitle div{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  background-color: #fc8415;
  color: white;
  padding: 0.03rem 0.5rem;
  border-radius: 0.5rem;
}

.TeamtaskDetailsSubmissionTitle p {
  font-size: 0.9rem;
  text-align: start;
}

.TeamtaskDetailsSubmissionsInsideDiv {
  width: 100%;
  height: 100%;
}

.NoExpectedSubmissionsMainText {
  font-size: 0.9rem;
  color: #fc8415;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  height:100%;
  width: 100%;
}

.ExpectedSubmissionsNoneMadeMainDiv{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top:0.3rem;
}

.ExpectedSubmissionNoneMadeInsideDiv{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:0.1rem 0.2rem;
}

#ExpectedSubmissionNumbering{
  margin-right:0.3rem;
  font-size:0.8rem;
}

#ExpectedSubmissionName{
  font-size:0.9rem;
}

.ExpectedSubmissionsActualFile{
  font-size:0.8rem;
  font-style: italic;
}

@media screen and (max-width: 1589px) {
  .TeamtaskDetailsTitleAndDescDiv p:last-child {
    max-width: 80%;
  }
}

@media screen and (max-width: 1229px) {
  .TeamtaskDetailsMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
}

@media screen and (max-width: 888px) {
  .TeamtaskDetailsTitleAndDescDiv p:last-child {
    max-width: 100%;
  }
  .NotAdminTeamtaskDesc {
    max-width: 98%;
  }
}

@media screen and (max-width: 576px) {
  .TeamtaskDetailsTopButtonsDiv div {
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    column-gap: 0.2rem;
  }

  .TeamtaskDetailsTopButtonsDiv div p {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  .TeamtaskDetailsMainSec {
    padding: 0rem 0.4rem 0.5rem 3rem;
  }
}
