.TeamSubmissionsMainSec{
    padding:0rem 0.4rem 1rem 16.1rem;
    width:100%;
}

.TeamSubmissionsMainDiv{
    padding-top:1rem;
    width:50rem;
}

.TeamSubmissionMainTitle{
    font-size:1.3rem;
}

.TeamSubmissionsMainDivWrapper{
    margin:0.8rem 0rem 0.9rem 0rem;
}

.EachTeamSubmissionsDiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-decoration: none;
    padding:0.5rem 0.8rem;
    border-radius: 0.3rem;
}

.EachTeamSubmissionsDiv:hover{
    background: white;
  box-shadow: 0rem 0rem 0.4rem rgba(233, 233, 233, 0.438);
}

.TeamSubmitType{
    color:black;
    text-wrap: nowrap;
}

.TeamSubmittedBy{
    font-size:0.8rem;
    color:#0483bb;
    text-transform: uppercase;
}

.TeamSubmittedBy span{
    color:black;
    text-transform: none;
    font-size:0.9rem;
}

.NoSubmissionsMadeDiv{
    padding:1rem 0rem 1rem 0rem;
}

.NoSubmissionsMadeDiv p{
    text-align: center;
    color:#FC8415;
    font-size:1.2rem;
}



/*  VIEW IMAGE RESOURCE  */

.ViewResourceMainSection{
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ViewResourceMainDiv{
  position:relative;
    max-width: 97%;
  height: auto;
  display: block;
  margin: 0rem auto 0rem;
}

.ViewResourceMainDiv img{
  width: 100%;
}

.CloseViewOfImgResourceDiv{
  position:absolute;
  top:0;
  right: 0;
  margin-right: -1rem;
  margin-top: -1rem;
}

.CloseViewResourceIcon{
  padding:0.5rem;
  border-radius: 50%;
  background-color: #FC8415;
  color:white;
  cursor:pointer;
  font-size:0.8rem;
}

@media screen and (max-width: 1229px) {
  .TeamSubmissionsMainSec {
    padding: 0rem 0.3rem 0.5rem 3.6rem;
  }
  .TeamSubmissionsMainDiv{
    padding-top:0.5rem;
    width:100%;
}
  .TeamSubmissionMainTitle {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .TeamSubmissionsMainSec {
    padding: 0rem 0.3rem 0.5rem 3.4rem;
  }
  .EachTeamSubmissionsDiv{
    padding:0.5rem 0.3rem;
}
  .TeamSubmitType{
    font-size:0.9rem;
}
  .TeamSubmittedBy span{
    font-size:0.9rem;
}
  .TeamSubmittedBy{
    font-size:0.5rem;
}
  .NoSubmissionsMadeDiv p{
    font-size:1rem;
}
}

@media screen and (max-width: 399px) {
  .TeamSubmissionsMainSec {
    padding: 0rem 0.3rem 0.5rem 3rem;
  }
}

@media screen and (max-width: 314px) {
  .TeamSubmissionMainTitle {
    font-size: 1.15rem;
  }
}